aside.one{
	float: right;
}

section.two{
	position: relative;
}

aside.two{
	position: absolute;
	top: 207px;
	left: 670px;
}

aside.three{
	background-color: green;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 4;
}

section.redblack{
	position: relative;
	top:0px;
	left: 0px;
}

aside.red{
	background-color: red;
	position: absolute;
	top: 210px;
	left: 320px;
	z-index: 2;
}

aside.black{
	background-color: black;
	position: absolute;
	top: 220px;
	left: 330px;
	z-index:1;
}