body {
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
}

section.first {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	height: 480px;
	display: block;
	background-image: url("jacksonbackground.png");
	background-size: contain;

}

h1 {
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

section.first>:first-child {
	text-align: center;
	margin-top: 130px;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	color: white;
}
section.first div+div {
	text-align: center;
	font-size: 22.5pt;
	font-weight: bold;
	color: lightpink;
}

section.second {
	width: 100%;
	padding:5px;
	box-sizing: border-box;
	height: 712px;
	display: block;
	background-color: navy;
	margin-bottom: 0;
}

section.second>:first-child {
	text-align: center;
	margin: 0 0 32px 0;
	font-size: 20pt;
	margin-bottom: 0px;
	color: lightpink;
}
h2{
	margin-bottom: 0px;
}
section.second div+div {
	text-align: left;
	font-size: 18px;
	letter-spacing: -.42px;
	padding: 32px 50px 0px 50px;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	font-weight: 600;
	color: white;
}
section.second>p {
	text-align: left;
	font-size: 18px;
	letter-spacing: -.4px;
	padding: 19px 50px 0px 50px;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	width: 959px;
	font-weight: 600;
	line-height: 1.4;
	color: white;
}
section.second p+div {
	text-align: left;
	font-size: 18px;
	letter-spacing: -.4px;
	padding: 15px 50px 0px 50px;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	width: 959px;
	font-weight: 600;
	color: white;
}

section.second img {
	width: 400px;
	height: 300px;
	float: right;
	margin-left: 43px;
	margin-bottom: 30px;
	margin-top: 0;
}

section.third{
	width: 100%;
	box-sizing: border-box;
	height: 687px;
	display: block;
	background-color: cornflowerblue ;
}
section.third>:first-child {
	text-align: center;
	font-size: 20pt;
	margin-top: 0px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 0px;
	padding-top: 40px;
	color: lightpink;
}

section.third h2{
	margin-top: 0px;
}

section.third div+div{
	position: center;
	margin-right:auto;
	margin-left: auto;
	margin-top: 10px;
	width: 959px;
	padding-top: 22px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	width: 50%;
	padding-right: 25px;
	box-sizing: border-box;
	height: 174px;
	display: inline-block;
}

h4{
	font-size: 20px;
	line-height: 1.4;
	margin: 0 0 6px 0;
}

section.third p{
	margin: 0 0 0 0;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -.45px;
}

section.third img{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 12px;
}

section.fourth{
	width: 100%;
	box-sizing: border-box;
	height: 400px;
	display: block;
	background-color: navy;
}

section.fourth>:first-child{
	text-align: center;
	font-size: 20pt;
	margin-top: 0px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 0px;
	padding-top: 9px;
	color: lightpink;
}

section.fourth div+div{
	text-align: center;
	padding-top: 33px;
	width: 710px;
	margin: auto;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: -.2px;
	line-height: 1.4;
	color: white;
}

section.fifth div{
	font-weight: 600;
	font-size: 18px;
	padding: 41px 0px 0px 147px;
	letter-spacing: -0.35px;
	background-color: lightyellow;
	color: navy;
	height: 60px;
}

/*section>div {
	margin-top: 200px;
}*/
/*or section > :first-child*/

div {
/*	background-color: rgba(255,220,100,.5);*/
	/*margin: 100px 50px 100px 50px;*/
	/*top right bottom left - if you only provide 2 itll be top/bottom left/right*/
	/*height: 200px;*/
	/*you are now in charge of the height of the box - if there is too much text
	it will spill out the bottom - remove the height itll fit to the size of the content*/
/*	margin: 20px auto;
	width: 500px;*/
	/*% of the container if you use percent, but you can also do it with auto margins*/
/*	max-width: 700px;
	padding: 1em 2em;*/
	/*padding is for margins within box for text*/
/*	box-sizing: content-box;*/
	/*content-box is if you care more about the sizing around the content and
	border-box is for if you want to size from the outside of the block element in*/
	/*overflow: scroll;*/
	/*hidden (itll just cut off your text) scroll (dont do that apparently lol)*/
/*	display:block;*/
	/*none of the box-model styling applies if it's inline so make it inline-block, 
	so the blocks will flow in line depending on the size of your browser*/
	/*be careful of doubling of the margins when a block goes down - it doesn't do this 
	if its just display: block*/
	/*if theres that white space at the top of the page, its because of the top margin*/

}

/*div:after {
	content: "POW";
	display: block;
	clear: both;*/
	/*clear: left, clear: right, clear: both - will clear any floated element*/


