body {
	margin: auto;
	width: 400px;
	font-family: 'Montserrat', sans-serif;
}

header {
	width: 400px;
	height: 65px;
	margin: auto;
	margin-bottom: 0px;
	position: fixed;
	top: 0px;
	background-color: #F64D10;
	display: block;
	overflow: hidden;
}

img#img_header {
	width: auto;
	height: 385px;
	position: relative;
	left: 15px;
	top: -140px;

}

a#headerlink :hover{
	transform: rotate(20deg);
}

a#headerlinke :active{
	transform: rotate(20deg);
}

section.intro {
	width: 400px;
	padding-top: 5px;
	box-sizing: border-box;
	height: auto;
	display: block;
	margin-bottom: 0px;
}

img#img_first {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 350px;
	height: auto;
}

div#intro {
	width: 350px;
	margin-left: 25px;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F64D10;
	padding-bottom: 20px;
}
h1.introh1 {
	margin-top: 0;
	padding-top: 10px;
	width: 350px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: white;
}
h2.introh2 {
	margin-top: 0;
	width: 350px;
	text-align: center;
	font-size: 15pt;
	font-weight: 700;
	color: white;
	background-color: #F64D10;
}

section.ingredients {
	margin-top: 0px;
	width: 400px;
	padding-top: 5px;
	box-sizing: border-box;
	height: auto;
	display: block;
	margin-bottom: 0px;
}

div#ingredients {
	width: 350px;
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 25px;
	color: #F64D10;
	background-color: white;
}

h1.bodyh1 {
	font-size: 24px;
	text-indent: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

h2.bodyh2 {
	font-size: 20px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

p {
	margin-bottom:0px;
	text-indent: 20px;
	margin-top: 0px;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
}


section.instructions {
	margin-top: 25px;
	width: 350px;
	height: auto;
	margin-left: 25px;
	font-size: 40pt;
	margin-bottom: 0px;
	background-color: #F64D10;
	padding-bottom: 0px;
}

div#instructions_partone {
	margin-top: 25px;
	width: 350px;
	margin-left: 25px;
	margin-right: 25px;
	height: auto;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F64D10;
	padding-bottom: 0px;
	color: white;
}

img#img_second {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 350px;
	height: auto;
}

div#instructions_partone h2 {
	padding-bottom: 20px;
}

div#instructions_partone p {
	padding-bottom: 20px;
}

div#instructions_parttwo {
	padding-top: 25px;
	width: 350px;
	margin-left: 25px;
	margin-right: 25px;
	height: auto;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding-bottom: 0px;
	color: #F64D10;
}

img#img_third {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 350px;
	height: auto;
}

div#instructions_parttwo h2 {
	padding-bottom: 20px;
}

div#instructions_parttwo p {
	padding-bottom: 20px;
}

div#instructions_partthree {
	padding-top: 25px;
	width: 350px;
	margin-left: 25px;
	margin-right: 25px;
	height: auto;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F64D10;
	padding-bottom: 0px;
	color: white;
}

div#instructions_partthree h2 {
	padding-bottom: 20px;
}

div#instructions_partthree p {
	padding-bottom: 20px;
}

div#instructions_partfour {
	padding-top: 25px;
	width: 350px;
	margin-left: 25px;
	margin-right: 25px;
	height: auto;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding-bottom: 0px;
	color: #F64D10;
}

img#img_fourth {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 350px;
	height: auto;
}

div#instructions_partfour h2 {
	padding-bottom: 20px;
}

div#instructions_partfour p {
	padding-bottom: 20px;
}

div#instructions_partfive {
	margin-top: 0px;
	width: 350px;
	margin-left: 25px;
	margin-right: 25px;
	height: auto;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F64D10;
	padding-bottom: 0px;
	color: white;
}

img#img_fifth {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 350px;
	height: auto;
}

div#instructions_partfive p {
	padding-bottom: 20px;
}

section.enjoy {
	margin-top: 0px;
	width: 400px;
	padding-top: 5px;
	box-sizing: border-box;
	height: auto;
	display: block;
	margin-bottom: 0px;
}

div#enjoy {
	padding-top: 25px;
	width: 400px;
	height: 275px;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding-bottom: 0px;
	color: #F64D10;
	overflow: hidden;
}

h1.footerh1 {
	margin-top: 0;
	padding-top: 10px;
	width: 350px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #F64D10;
}

img#img_sixth {
	width: 400px;
}

div#footer {
	padding-top: 20px;
	width: 400px;
	height: auto;
	font-size: 40pt;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F64D10;
	padding-bottom: 20px;
	color: white;
}

div#footer p{
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 15px;
	text-align: center;
}

a {
	color: white;
}




